.container-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-card-msg-sucess {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;


  &::ng-deep {
    mat-card {
      flex: 1 1 150px;
      margin: 20px 10px;
      background-color: #4CAF50;
      color: #fff
    }

    mat-card-content {
      text-align: center !important
    }
  }
}

.container-card-msg-error {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;

  &::ng-deep {
    mat-card {
      flex: 1 1 150px;
      margin: 20px 10px;
      background-color: #F44338;
      color: #fff
    }

    mat-card-content {
      text-align: center !important
    }
  }
}

@media (max-width: 600px) {
  .container-card-msg-sucess {
    width: 80%;
  }

  .container-card-msg-error {
    width: 80%;
  }

}

.container {
  max-width: 960px;
  margin: 0 auto;

  .container-loading {
    margin: 0 auto;
  }

  .title {
    margin: 60px 10px;

    h1 {
      font-size: 3em;
      font-weight: 300;
    }
  }

  .container-new-user {
    margin: 60px 10px;

    button {
      width: 250px;
    }
  }

  .container-card {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 60px auto;

    .card-item {
      flex: 1 1 150px;
      margin: 20px 10px;

    }
  }
}

::ng-deep mat-card-actions {

  .mat-mdc-raised-button {
    height: 50px !important;
  }

  button {
    height: 50px;
    margin: 5px;

    span {
      font-size: 1em;
    }
  }
}